.header {
    background: #151515 url('../images/intro-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.header::after {
    content: '';
    
}

.header .social {
    bottom: 50px;   
}